@import "home.css";
@import "enclosures.css";

html {
    font-size: 14px;
    height: 100%;
}

body {
    background-color: #4F7942;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.logo {
    height: 80px;
    margin: 10px;
}

@media (max-width: 600px) {
    .logo {
        height: 50px;
    }
}


