@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welkom in de Dierentuin</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, dolores. Maxime obcaecati dolor assumenda quas autem quis saepe magnam iusto accusamus hic, odio aperiam reiciendis, fugit tempore ipsa quibusdam a.</p>
    <p>Bekijk hieronder de dieren</p>
</div>
