@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welkom in Artis</h1>
    <a asp-controller="Enclosure" asp-action="Index">Enclosures</a>
    <a asp-controller="Category" asp-action="Index">Categories</a>
    <a asp-controller="Animal" asp-action="Index">Animals</a>

</div>
