@model IEnumerable<Dierentuin.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<link rel="stylesheet" href="~/css/categories.css" />

<h1 class="categories-heading">Categories</h1>

<div class="create-new-container">
    <a asp-action="Create" class="create-new-button">Create New</a>
</div>

<div class="categories-container">
    @foreach (var item in Model)
    {
        <div class="categories-card">
            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
            <div class="action-buttons">
                <a asp-action="Edit" asp-route-id="@item.Id" class="action-button">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="action-button">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="action-button">Delete</a>
            </div>
        </div>
    }
</div>
